{% extends 'base.html' %}
{% block content %}
<section id="main-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">
                    <h4>组管理 </h4>

                </div>
                <div class="button-list">
                    <a href="{% url 'usermanagement:create_group' %}" type="button" class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"><i class="ti-plus"></i>新增组</a>
                    <button type="submit" class="btn btn-pink btn-flat btn-addon m-b-10"><i class="ti-search"></i>搜索</button>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>组名</th>
                                    <th>创建者</th>
                                    <th>创建日期</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each_group in groups %}
                                    <tr>
                                        <th scope="row">{{ each_group.id }}</th>
                                        <td>{{ each_group.name }}</td>
                                        <td>{{ each_group.group_extension.create_user }}</td>
                                        <td>{{ each_group.group_extension.create_time }}</td>
                                        <td class="button-list">
                                            <a href="{% url 'usermanagement:user_add' groupid=each_group.id %}" type="button" class="btn btn-success btn-flat btn-addon btn-sm m-b-10 m-l-5" style="padding-left: 8px;">添加用户</a>
                                            <a href="{% url 'usermanagement:edit_group' groupid=each_group.id %}" type="button" class="btn btn-info btn-flat btn-addon btn-sm m-b-10 m-l-5" style="padding-left: 8px;">编辑</a>
                                            <a href="{% url 'usermanagement:del_group' groupid=each_group.id %}" type="button" class="btn btn-danger btn-flat btn-addon btn-sm m-b-10"style="padding-left: 8px;">删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}