<div>
    <ul class="pagination">
        <li><a href="javascript:viod(0);">共{{ paginator.count }}项</a></li>
        {# 上一页 #}
        {% if page_obj.has_previous %}
            <li><a href="{% url 'object:searchobject' %}?searchobject={{ kw }}&p={{ page_obj.previous_page_number }}">上一页</a></li>
        {% else %}
            <li class="disabled"><a href="javascript:viod(0);">上一页</a></li>
        {% endif %}

        {% if left_has_more %}
            <li><a href="{% url 'object:searchobject' %}?searchobject={{ kw }}&p=1">1</a></li>
            <li><a href="javascript:viod(0);">...</a></li>
        {% endif %}
        {# 左边的页码 #}
        {% for num in left_pages %}
            <li><a href="{% url 'object:searchobject' %}?searchobject={{ kw }}&p={{ num }}">{{ num }}</a></li>

        {% endfor %}

        {# 当前页码 #}
        <li class="active"><a href="{% url 'object:searchobject' %}?searchobject={{ kw }}&p={{ current_page }}">{{ current_page }}</a></li>

        {# 右边的页码 #}
        {% for num in right_pages %}
            <li><a href="{% url 'object:searchobject' %}?searchobject={{ kw }}&p={{ num }}">{{ num }}</a></li>
        {% endfor %}

        {# 下一页 #}
        {% if right_has_more %}
            <li><a href="javascript:viod(0);">...</a></li>
            <li><a href="{% url 'object:searchobject' %}?searchobject={{ kw }}&p={{ num_pages }}">{{ num_pages }}</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li><a href="{% url 'object:searchobject' %}?searchobject={{ kw }}&p={{ page_obj.next_page_number }}">下一页</a></li>
        {% else %}
            <li class="disabled"><a href="javascript:viod(0);">下一页</a></li>
        {% endif %}
    </ul>
</div>